<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>The Creators With Art</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.10-0/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="../static/assets/css/templatemo-space-dynamic.css">
    <link rel="stylesheet" href="../static/assets/css/animated.css">
    <link rel="stylesheet" href="../static/assets/css/owl.css">
<!--
    
TemplateMo 562 Space Dynamic

https://templatemo.com/tm-562-space-dynamic

-->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a class="logo">
              <h4>The Creators<span> With Art</span></h4>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#services">Services</a></li>
              <li class="scroll-to-section"><a href="#portfolio">Portfolio</a></li>
              <li class="scroll-to-section"><a href="#team">About Us</a></li>
              <li class="scroll-to-section"><a href="#contact">Contact Us</a></li> 
              <li class="scroll-to-section"><div class="main-red-button"><a href="https://wa.me/923128925362" target="_blank">WhatsApp Now</a></div></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <h6>Welcome to The Creators With Art</h6>
                <h2>Crafting compelling brands through  <em> innovative design</em> <span>and</span> digital strategy</h2> 
                <div class="down-buttons">
                  <div class="main-blue-button-hover">
                    <a href="https://www.youtube.com/watch?v=ACTUAL_VIDEO_LINK" target="_blank">Watch On youtube</a>
                  </div>
                  <div class="call-button">
                    <a href="#"><i class="fa fa-phone"></i> 010-020-0340</a>
                  </div>
                </div>             
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="../static/../static/assets/images/logo.jfif" alt="team meeting" style="max-width: 390px;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2>See What <em>Offers</em> &amp; What We <span>Provide</span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="left-image wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <img src="../static/assets/images/about-left-image.png" alt="person graphic">
          </div>
        </div>
        <div class="col-lg-8 align-self-center">
          <div class="services">
            <div class="row">
              <div class="col-lg-6">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                  <div class="icon">
                    <img src="../static/assets/images/service-icon-01.png" alt="reporting">
                  </div>
                  <div class="right-text">
                    <h4>Web Development</h4>
                    <p>Transforming your ideas into stunning, user-friendly websites that drive success</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
                  <div class="icon">
                    <img src="../static/assets/images/service-icon-02.png" alt="">
                  </div>
                  <div class="right-text">
                    <h4>Creative Logo Designing</h4>
                        <p>Crafting unique logos that tell your brand's story at a glance.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">
                  <div class="icon">
                    <img src="../static/assets/images/service-icon-03.png" alt="">
                  </div>
                  <div class="right-text">
                    <h4>Brand Strategist</h4>
                        <p>Empowering brands to connect, engage, and thrive in a dynamic marketplace.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="1.1s">
                  <div class="icon">
                    <img src="../static/assets/images/service-icon-04.png" alt="">
                  </div>
                  <div class="right-text">
                    <h4>Social Media Marketing</h4>
                        <p>Boost your online presence across platforms.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div id="services" class="our-services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="left-image">
            <img src="../static/assets/images/services-left-image.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="section-heading">
            <h2>Grow your website with our <em>SEO</em> service &amp; <span>Project</span> Ideas</h2>
            <p>Space Dynamic HTML5 template is free to use for your website projects. However, you are not permitted to redistribute the template ZIP file on any CSS template collection websites. Please contact us for more information. Thank you for your kind cooperation.</p>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="first-bar progress-skill-bar">
                <h4>Website Analysis</h4>
                <span>84%</span>
                <div class="filled-bar"></div>
                <div class="full-bar"></div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="second-bar progress-skill-bar">
                <h4>SEO Reports</h4>
                <span>88%</span>
                <div class="filled-bar"></div>
                <div class="full-bar"></div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="third-bar progress-skill-bar">
                <h4>Page Optimizations</h4>
                <span>94%</span>
                <div class="filled-bar"></div>
                <div class="full-bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div id="portfolio" class="our-portfolio section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2>Explore the best of our work. <em> From logo designs</em> to full brand identity.<span> we ensure each project is unique and impactful.</span></h2>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s"> -->
              <!-- <div class="hidden-content">
                <h4>SEO Analysis</h4>
                <p>Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.</p>
              </div> -->
              <!-- <div class="showed-content">
                <img src="../static/assets/images/2.jfif" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s"> -->
              <!-- <div class="hidden-content">
                <h4>Website Reporting</h4>
                <p>Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.</p>
              </div> -->
              <!-- <div class="showed-content">
                <img src="../static/assets/images/10.jfif" alt="">
              </div>
            </div>
          </a>
        </div> -->
        <!-- <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s"> -->
              <!-- <div class="hidden-content">
                <h4>Performance Tests</h4>
                <p>Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.</p>
              </div> -->
              <!-- <div class="showed-content">
                <img src="../static/assets/images/3.jfif" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s"> -->
              <!-- <div class="hidden-content">
                <h4>Data Analysis</h4>
                <p>Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.</p>
              </div> -->
              <!-- <div class="showed-content">
                <img src="../static/assets/images/12.jfif" alt="">
              </div>
            </div>
          </a>
        </div>
      </div> -->

      <div class="team-items">
        <div class="image-item">
            <img src="../static/assets/images/2.jfif" alt="">
        </div>
        <div class="image-item">
            <img src="../static/assets/images/10.jfif" alt="">
        </div>
        <div class="image-item">
            <img src="../static/assets/images/11.jfif" alt="">
        </div>
        <div class="image-item">
            <img src="../static/assets/images/12.jfif" alt=""> 
        </div>
        <div class="image-item">
            <img src="../static/assets/images/9.jfif" alt="">
          </div>
        <div class="image-item">
            <img src="../static/assets/images/5.jfif" alt="">
        </div>


        <div class="image-item">
            <img src="../static/assets/images/17.jfif" alt="">
        </div>
        <div class="image-item">
            <img src="../static/assets/images/18.jfif" alt="">
        </div>
        <div class="image-item">
            <img src="../static/assets/images/19.jfif" alt="">
        </div>
        <div class="image-item">
            <img src="../static/assets/images/20.jfif" alt=""> 
        </div>
        <div class="image-item">
            <img src="../static/assets/images/22.jfif" alt="">
          </div>
        <div class="image-item">
            <img src="../static/assets/images/25.jfif" alt="">
        </div>
      </div>

       <!--  second row  -->
       <!-- <div class="row">
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s"> -->
              <!-- <div class="hidden-content">
                <h4>SEO Analysis</h4>
                <p>Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.</p>
              </div> -->
              <!-- <div class="showed-content">
                <img src="../static/assets/images/12.jfif" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s"> -->
              <!-- <div class="hidden-content">
                <h4>SEO Analysis</h4>
                <p>Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.</p>
              </div> -->
              <!-- <div class="showed-content">
                <img src="../static/assets/images/12.jfif" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s"> -->
              <!-- <div class="hidden-content">
                <h4>SEO Analysis</h4>
                <p>Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.</p>
              </div> -->
              <!-- <div class="showed-content">
                <img src="../static/assets/images/12.jfif" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
              <div class="showed-content">
                <img src="../static/assets/images/12.jfif" alt=""> -->
              <!-- </div>
            </div>
          </a>
        </div>
         -->
  </div>
</div>

    </div>
  </div>

  <div id="team" class="our-team section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="section-heading">
            <h2>Meet Our<em> Team</em></h2>
            <h6>Introducing our talented team of creators, specializing in web development, logo design, brand strategy, and social media marketing to bring your vision to life!</h6>
          </div>
        </div>
      </div>
       <!--  First row  -->
       <!-- <div class="row">
        <div class="col-lg-4 col-sm-4">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
              <div class="showed-team">
                <img src="../static/assets/images/osama pic.jfif" alt="">
                <h4>Brand Strategist</h4>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-4">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
              <div class="showed-team">
                <img src="../static/assets/images/natasha.jfif" alt="">
                <h4>Project Manager </h4>
                </h4>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-4">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
              <div class="showed-team">
                <img src="../static/assets/images/muhammd.jfif" alt="">
                <h4>Project Manager </h4>
              </div>
            </div>
          </a>
        </div>

         Second row 
       <div class="row">
        <div class="col-lg-4 col-sm-4">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
              <div class="showed-team">
                <img src="../static/assets/images/gull.jfif" alt="">
                <h4>Brand Strategist</h4>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-4">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
              <div class="showed-team">
                <img src="../static/assets/images/aiman khan.jfif" alt="">
                <h4>Project Manager </h4>
                </h4>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-4">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
              <div class="showed-team">
                <img src="../static/assets/images/mahek.jfif" alt="">
                <h4>Project Manager </h4>
              </div>
            </div>
          </a>
        </div> -->

        <div class="team-items">

          <div class="image-item">
            <div class="image-container">
              <img src="../static/assets/images/osama pic.jfif" alt="">
            </div>
            <div class="text-container">
               <h4>Brand Strategist</h4>
               <h4>Osama Bin Ahmed</h4>
            </div>
          </div>
          
          <div class="image-item">
            <div class="image-container">
              <img src="../static/assets/images/natasha.jfif" alt="">
            </div>
            <div class="text-container">
               <h4>Project Manager</h4>
               <h4>Natasha Javed</h4>
            </div>
          </div>

          <div class="image-item">
            <div class="image-container">
              <img src="../static/assets/images/muhammd.jfif" alt="">
            </div>
            <div class="text-container">
               <h4>Project Manager</h4>
               <h4>Muhammad Junaid</h4>
            </div>
          </div>

          <div class="image-item">
            <div class="image-container">
              <img src="../static/assets/images/gull.jfif" alt="">
            </div>
            <div class="text-container">
               <h4>Project Manager</h4>
               <h4>Gull</h4>
            </div>
          </div>

          <div class="image-item">
            <div class="image-container">
              <img src="../static/assets/images/mahek.jfif" alt="">
            </div>
            <div class="text-container">
               <h4>Project Manager</h4>
               <h4>Mehak</h4>
            </div>
          </div>

          <div class="image-item">
            <div class="image-container">
              <img src="../static/assets/images/aiman khan.jfif" alt="">
            </div>
            <div class="text-container">
               <h4>Project Manager</h4>
               <h4>Aiman Khan</h4>
            </div>
          </div>

        </div>
        </div>


  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <div class="section-heading">
            <h2>Feel Free To Send Us a Message About Your Website Needs</h2>
            <div class="phone-info">
              <h6>Please follow us on:</h6>
              <div class="social-icons">
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-behance"></i></a>
              </div>

            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact"  method="post" action="{{ url_for('email_sent') }}">
            <div class="row">
              <div class="col-lg-6">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Name" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <input type="lastname" name="lastname" id="lastname" placeholder="Last Name" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" type="text" class="form-control" id="message" placeholder="Message" required=""></textarea>  
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-button ">Send Message</button>
                </fieldset>
              </div>
            </div>
            <div class="contact-dec">
              <img src="../static/assets/images/contact-decoration.png" alt="">
              
              
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alertModalLabel">Message Sent</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              {{ message }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
  $(document).ready(function() {
      {% if message %}
          alert("{{ message }}");
      {% endif %}
  });
</script>


  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.25s">
          <p>© Copyright 2024 The Creators with Art. All Rights Reserved. 
        </div>
      </div>
      
    </div>
  </footer>
  <!-- Scripts -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/js/owl-carousel.js"></script>
  <script src="../static/assets/js/animation.js"></script>
  <script src="../static/assets/js/imagesloaded.js"></script>
  <script src="../static/assets/js/templatemo-custom.js"></script>
  

</body>
</html>